# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List commonly used libraries in Data Science
- Identify open source development tools for Data Science
- Demonstrate basic arithmetic operations in Python
- Convert units using Python expressions

Some of the popular languages that Data Scientists use are:

1. Python  
2. R  
3. SQL  
4. Java  
5. Julia  
6. Scala  
7. MATLAB  
8. SAS  
9. C++  
10. JavaScript

Some of the commonly used libraries used by Data Scientists include:

1. Pandas  
2. NumPy  
3. Matplotlib  
4. Seaborn  
5. Scikit-learn  
6. Keras
7. TensorFlow  
8. PyTorch
9. Apache Spark
10. Vegas

| Data Science Tools |
|---------------------|
| Anaconda            |
| Jupyter Notebook    |
| RStudio             |
| Spyder              |
| Apache Zeppelin     |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This is a simple arithmetic expression to multiply then add integers.
(3 * 4) + 5

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author

Gaddam Rukmangada Reddy